* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

:root {

    
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background-image: linear-gradient( 109.6deg,  rgba(157,75,199,1) 11.2%, rgba(119,81,204,1) 83.1% );
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 45.4rem;
    height: 70rem;
    background-color: #f7f7f7;
    margin: 3rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: .6rem;
}

@keyframes slidein {
    from {
        margin-right: 100%;
    }
    to {
        margin-right: 0;
    }
}

#container h1 {
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 3.6rem;
    color: #000000;
    padding-top: 4rem;
    margin-bottom: 0.7rem;
}

#container p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    color: #c6c8d4;
    padding-bottom: 3rem;
}

#container form {
    display: block;
}

#container form .registration {
    width: 41.7rem;
    height: 5rem;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#container form .registration {
    margin-bottom: 1.3rem;
}

#container form .registration:hover{
    border: 1px solid #0e38c2;
}

#container form .registration input {
    width: 83%;
    height: 51%;
    padding-top: 0.45rem;
}

#container form .registration input::placeholder {
    color: #A89F9F;
    font-size: clamp(16px, 1.7rem, 2vw);
    font-weight: 400;
    line-height: 2rem;
}

#container form .registration img {
    width: 1.5rem;
    height: 1.5rem;
    margin-inline: 1.2rem;
    color: #0e38c2;
}

#container form .registration #eyeSvg {
    cursor: pointer;
}


#container .forgetPassword {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
    color: #000000;
    display: block;
    margin-bottom: 2rem;
    padding-left: .3rem;
}

#container .forgetPassword span {
    color: #0e38c2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    cursor: pointer;
}

#container .button {
    width: 41.7rem;
    height: 5rem;
    background-color: #071A84;
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;

    margin-bottom: 3.5rem;
}

#container .button:hover {
    background-color: #4c08ab;
}

#container .contentLine1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5rem;
}

#container .line1,
#container .line2 {
    width: 10rem;
    height: 0.1rem;

    background-color: #000000;
    opacity: 30%;
}

#container .alternativeOr {
    padding-inline: 1rem;
}

#container #connected {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#container #connected .contentSocial {
    width: 66px;
    height: 5rem;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container #connected a {
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
}

#container #connected a img {
    width: 58%;
}

#container .registerOption {
    text-align: center;
    color: #9D9393;
    font-size: 1.5rem;
    font-weight: 400;
}

#container .registerOption .register {
    color: #0026ff;
}

@media (max-width: 470px) {
    #container {
        width: 35rem;
        height: 70rem;
    }

    #container form .registration,
    #container .button {
        width: 31rem;
    }
}